/*** You will not need this file until Unit 3 ***/


html {
    background-color: rgb(136, 136, 215);
     scroll-padding-top: 50px; 
}


body {
   background-color: rgb(136, 136, 215);
    font-size: 18px;
    font-family: Tahoma, sans-serif; 
    margin: 50px;
    padding: 20px;
    align-content:stretch;
}

h1 {
    color : black;
    border-radius: 20px;
    font-size:30px;
    background-color:var(--accent-color-light);
    position-anchor: var();
    font-family: Tahoma, sans-serif; 
    padding: 10px;     
    margin : 15px;     
     
    
}

h2 {
    color :black;
    font-size:medium;
    font-family: sans-serif;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;

}

h4 {
    color:black;
    text-align: center;
}

p {
    color:black;
    
}

a,
a * {
    color: blue;
    cursor:pointer;
}
a :hover{
    color:red;
}
a:link{
    color:blue;
}
a:visited{
    color:red;
}
a:active{
    color:greenyellow;
}


button {

    background-color: rgb(1, 66, 1);    
    color: rgb(254, 254, 251);               
    border: none;               
    padding: 15px;     
    margin : 15px;     
    border-radius: 5px;         
    cursor: pointer; 
        
}


button:hover {
    color: red;
}

.header-container { 
    padding-top:0%;
    margin-top: 20px;
    margin:5px;
    text-align:center;
    display:flex;
    flex-direction:row;
    position-anchor: inherit;
    
}
.header-item:nth-of-type(1){
    width:25%;
    position-area: initial;
    
   
}

.header-item:nth-of-type(2){
    width:75%;
}
#header-img{
    width: 100%;
    height:100;
    margin-left: auto;
    margin-right:auto;
    max-width:100%;

}
#header-button{
    background-color:rgb(80, 80, 152);
    text-align:justify;
    font-size:50px;
    color:white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type:none;
    overflow: hidden;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    margin-top:0px;
    background-color:black;
}

.navbar ul li {
    float: left;
    margin: 25px;
}

.navbar ul li a {
    display:block;
    text-decoration:none;
    color: white;
    
}

.navbar ul li a:hover {
    color: green;
    
}

.EventSchedule { 
    padding-top:0%;
    margin-top: 20px;
    margin:5px;
    text-align:center;
    display:flex;
    flex-direction:row;
    
}




.Event-item:nth-of-type(1){
    width:25%;
   
    
   
}
.Event-item:nth-of-type(2){
    width:75%;
     display:flex;
    flex-direction:row;
    
   
}
.dark-mode {
    background-color:black;
    color:white;

}

.dark-mode h1 {
    color:white;
    
}

.dark-mode a:visited * {
    color:pink;

}
.dark-mode h3{
    color:white;
}
.dark-mode p{
    color:white;
}
#theme-button{
    text-decoration:#28eb76;
    font:bolder;
    padding:5%;
    border-width:5%;
    color:yellow;
    border-radius:15px;
}
#theme-button:hover{
    color: darkred;
}

.rsvp-container {
    display:flex;
    flex-direction:row;

}
/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/
/*** Dark Mode [PLACEHOLDER] [ADDED IN UNIT 5] ***/



/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}